<article>
  <h1>Добро пожаловать!</h1>    
  <div class="content">
	<p>Сколько нужно дипломов маркетологу? Или как стать интернет-маркетологом.</p>
	<p>С маркетологами две проблемы: маркетологи не могут устроиться или найти клиентов, клиенты же не могут найти маркетолога. <span id="more-4458"></span></p>
	<p>На рынке однозначно есть недостаток специалистов. И недостача эта видна невооруженным взглядом. Просто попробуйте найти в штат маркетолога, вы очень удивитесь ))</p>
	<p>При этом есть толпы переученных «маркетологов». Которые носят на собеседования горы дипломов и раскидываются терминами, значения которых не понимают. </p>
	<p>В видео пара мыслей от меня, как же стать маркетологом и где взять клиентов.</p>
	<p>
	Рецепт прост: ищите проекты, где вы будете нести ответственность за результат. Делайте результат. Потому как если вы просто присутствуете в проекте, посещаете 100500 совещаний в месяц, но решений не принимаете, роста в профессии не будет. Вы будете маркетологом только «по трудовой»</p>
	<p>Это касается любой профессии. Мастерство растет когда есть ответственность. Успех всегда идет в ногу с творчеством и одержимостью. Только так приходит реализация. </p>
	<p>Прекратите гоняться за дипломами, это на мастерство никак не влияет.</p>
  </div>
</article>  

