<div class="box widget_search">
<form role="search" method="get" class="search-form" action="http://kurilova.pro/">
<div class="input-group">
  <input type="search" class="form-control" placeholder="Поиск по блогу" value="" name="s">
  <span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
</div>  
</form>
</div>

<div class="box  widget_recent_entries">    
<div class="title">Recent posts</div>   
  <ul>
    <li>
      <a href="http://kurilova.pro/blog/intervyu-s-yuliej-kurilovoj/">Интервью с Юлией Куриловой</a>
    </li>
    <li>
      <a href="http://kurilova.pro/blog/reklama-ili-produkt-samyj-glavnyj-vopros/">Реклама или продукт? Самый главный вопрос.</a>
    </li>
    <li>
      <a href="http://kurilova.pro/blog/terminy-glavnaya-prichina-nedoponimaniya/">Термины — главная причина недопонимания</a>
    </li>
    <li>
      <a href="http://kurilova.pro/blog/kak-stat-internet-marketologom/">Как стать интернет-маркетологом?</a>
    </li>
    <li>
      <a href="http://kurilova.pro/blog/tvorchestvo-ili-myasorubka-v-kollektive/">Творчество или мясорубка в коллективе</a>
    </li>
  </ul>
</div>